In [1]:
# pandas read csv directly from gcs
import pandas as pd
import trectools

df = pd.read_csv(
    "gs://dsgt-clef-erisk-2024/task1/processed/eval/nb_count/v3/inference/predictions.csv"
)
df

,symptom_number,Qo,sentence_id,position_in_ranking,score,system_name
0,1,Q0,268819_0_1,1,1.0,baseline
1,1,Q0,24766_0_33,2,1.0,baseline
2,1,Q0,508064_0_22,3,1.0,baseline
3,1,Q0,307381_9_0,4,1.0,baseline
4,1,Q0,30130_6_7,5,1.0,baseline
...,...,...,...,...,...,...
20995,15,Q0,503254_0_21,996,1.0,baseline
20996,15,Q0,460557_0_5,997,1.0,baseline
20997,15,Q0,137585_2_2,998,1.0,baseline
20998,15,Q0,422413_10_25,999,1.0,baseline
20999,15,Q0,148793_0_22,1000,1.0,baseline

In [22]:
df.sort_values(["symptom_number", "position_in_ranking"]).rename(
    columns=dict(
        # rank="position_in_ranking", query="symptom_number", q0="Qo", docid="sentence_id"
        position_in_ranking="rank",
        symptom_number="query",
        Qo="q0",
        sentence_id="docid",
        system_name="system",
    )
)

       query  q0         docid  rank  score    system
0          1  Q0    268819_0_1     1    1.0  baseline
1          1  Q0    24766_0_33     2    1.0  baseline
2          1  Q0   508064_0_22     3    1.0  baseline
3          1  Q0    307381_9_0     4    1.0  baseline
4          1  Q0     30130_6_7     5    1.0  baseline
...      ...  ..           ...   ...    ...       ...
13995     21  Q0    552271_3_2   996    1.0  baseline
13996     21  Q0    176519_0_7   997    1.0  baseline
13997     21  Q0    150008_0_3   998    1.0  baseline
13998     21  Q0    s_514_15_1   999    1.0  baseline
13999     21  Q0  s_1729_255_4  1000    1.0  baseline

[21000 rows x 6 columns]

In [20]:
from IPython.display import display

# convert the dataframe to trec format
trec = trectools.TrecRun()
trec.load_run_from_dataframe(
    df.sort_values(["symptom_number", "position_in_ranking"]),
    column_mapping=dict(
        # rank="position_in_ranking", query="symptom_number", q0="Qo", docid="sentence_id"
        position_in_ranking="rank",
        symptom_number="query",
        Qo="q0",
        sentence_id="docid",
        system_name="system",
    ),
)
# display(trec.run_data)

# write to trec format xml
trec.export_document_list(filename="mypool.txt", with_format="relevation")

AttributeError: 'TrecRun' object has no attribute 'export_document_list'